<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

내 정보 보기 및 수정

<form action="memberUpdate" method="post" >
<table>
<tr><td>아이디 :	</td> <td><input type="text" name="memberId" th:value="${dto.memberId}"/> </td></tr>
<tr><td>비밀번호 : </td> <td><input type="password" name="memberPw"/>  </td></tr>
<tr><td>이름 : </td> <td><input type="text" name="memberName" th:value="${dto.memberName}"/> </td></tr>
<tr><td>주소 : </td> <td><input type="text" name="memberAddr" id="sample4_roadAddress" th:value="${dto.memberAddr}"/> </td></tr>
<tr><td>상세주소 : </td> <td><input type="text" name="memberAddrDetail" th:value="${dto.memberAddrDetail}"/> </td></tr>
<tr><td>우편번호 : </td> <td><input type="text" name="memberPost" id="sample4_postcode" th:value="${dto.memberPost}"/> </td></tr>
<tr><td>전화번호 : </td> <td><input type="text" name="memberPhone" th:value="${dto.memberPhone}"/> </td></tr>
<tr><td>이메일 : </td> <td><input type="email" name="memberEmail" th:value="${dto.memberEmail}"/> </td></tr>
<tr><td>생년월일 : </td> <td><input type="date" name="memberBirth" th:value="${#dates.format(dto.memberBirth,'yyyy-MM-dd')}"/> (수정불가) </td></tr>
<tr><td>가입일 : </td> <td><input type="date" name="memberRegiDate" th:value="${#dates.format(dto.memberRegiDate,'yyyy-MM-dd')}" readonly="readonly"/> (수정불가) </td></tr>

<tr><td><input type="submit" value="수정완료"/></td></tr>

</body>
</html>