<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/daumAddressScript.js"></script>

</head>
<body>

직원 등록 사양
<form action="empRegist" method="post" >
<table>
<tr><td>아이디 :	</td> <td><input type="text" name="empId"/> </td></tr>
<tr><td>비밀번호 : </td> <td><input type="password" name="empPw"/>  </td></tr>
<tr><td>이름 : </td> <td><input type="text" name="empName"/> </td></tr>
<tr><td>주소 : </td> <td><input type="text" name="empAddr" id="sample4_roadAddress"/> </td></tr>
<tr><td>상세주소 : </td> <td><input type="text" name="empAddrDetail"/> </td></tr>
<tr><td>우편번호 : </td> <td><input type="text" name="empPost" id="sample4_postcode"/> </td></tr>
<tr><td>전화번호 : </td> <td><input type="text" name="empPhone"/> </td></tr>
<tr><td>이메일 : </td> <td><input type="email" name="empEmail"/> </td></tr>
<tr><td>주민번호 : </td> <td><input type="text" name="empJumin"/> </td></tr>

<tr><td><input type="submit" value="등록"/></td></tr>

</table>

</form>



</body>
</html> 