<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
<mapper namespace="hkdelivery.mapper.CartMapper">

<!-- resultMap 사용-->
<resultMap id="goodsResultMap" type="goods">
<!-- id는 pk칼럼, result는 일반칼럼-->
<!-- column은 테이블의 컬럼명, jdbcType은 컬럼의 type, property는 컬럼에 해당하는 멤버필드-->
	<id column="goods_num" jdbcType="VARCHAR" property="goodsNum"/>
	<result column="shop_num" jdbcType="VARCHAR" property="shopNum"/>
	<result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
	<result column="goods_content" jdbcType="VARCHAR" property="goodsContent"/>
	<result column="goods_main" jdbcType="VARCHAR" property="goodsMain"/>
	<result column="goods_main_org" jdbcType="VARCHAR" property="goodsMainOrg"/>
	<result column="goods_image" jdbcType="VARCHAR" property="goodsImage"/>
	<result column="goods_image_org" jdbcType="VARCHAR" property="goodsImageOrg"/>
<!-- 컬럼 타입이 INTEGER 또는 NUMBER인 경우 BIGINT로 적어준다.-->	
	<result column="goods_price" jdbcType="BIGINT" property="goodsPrice"/>
	<result column="delivery_cost" jdbcType="BIGINT" property="deliveryCost"/>
</resultMap>


<!-- 메인페이지에 보여줄 상품리스트 가져오기-->
<select id="goodsAllSelect" resultMap="goodsResultMap">
select goods_num, shop_num, goods_name, goods_content, 
	goods_main, goods_main_org, goods_image, 
	goods_image_org, goods_price, delivery_cost 
from goods
</select>


<!-- 장바구니에 상품이 이미 있으면 update 없으면 insert-->
<!-- merge 를 이용함-->
<insert id="cartInsert" parameterType="cart">
merge into cart c 
using (select goods_num from goods where goods_num = #{goodsNum}) g 
on (c.goods_num = g.goods_num and c.member_num = #{memberNum}) 
when matched then 
update set 
cart_qty = cart_qty + #{cartQty} 
when not matched then 
insert (member_num, goods_num, cart_qty) 
values (#{memberNum}, #{goodsNum}, #{cartQty}) 
</insert>


<!-- cartList의 결과를 받은 resultMap이다. 굿즈와 카트가 모두 필요하다.-->
<!-- CartDTO와 GoodsDTO가 함께 들어있는 CartGoodsDTO 로 받기-->
<!-- 일반속성부터 적어줘야 한다.-->
<resultMap id="CartlistResultMap" type="cartGoodsDTO">
	<result column="total_price" jdbcType="BIGINT" property="totalPrice" />
	<association property="goodsDTO" javaType="goods" >
		<result column="shop_num" jdbcType="VARCHAR" property="shopNum" />
		<result column="goods_name" jdbcType="VARCHAR" property="goodsNum" />
		<result column="goods_content" jdbcType="VARCHAR" property="goodsContent" />
		<result column="goods_main" jdbcType="VARCHAR" property="goodsMain" />
		<result column="goods_main_org" jdbcType="VARCHAR" property="goodsMainOrg" />
		<result column="goods_price" jdbcType="BIGINT" property="goodsPrice" />
		<result column="delivery_cost" jdbcType="BIGINT" property="deliveryCost" />
	</association>
	<association property="cartDTO" javaType="cart">
		<result column="goods_num" jdbcType="VARCHAR" property="goodsNum" />
		<result column="member_num" jdbcType="VARCHAR" property="memberNum" />
		<result column="cart_qty" jdbcType="BIGINT" property="cartQty" />	
	</association>
</resultMap>

<select id="cartList" parameterType="string" resultMap="CartlistResultMap">
select c.goods_num, c.member_num, c.cart_qty, 
	g.shop_num, g.goods_name, g.goods_content, g.goods_main, g.goods_main_org, 
	g.goods_price, g.delivery_cost, 
	g.goods_price * c.cart_qty total_price  
from cart c, goods g 
<trim prefix="where" prefixOverrides="and | or">
c.goods_num = g.goods_num and member_num = #{memberNum}
	<if test="goodsNums != null">
		and g.goods_num in 
			<foreach collection="goodsNums" item="goodsNum" open="(" close=")" separator="," index="index">
				#{goodsNum}
			</foreach>
	</if>
</trim>

</select>

<!-- 합계이므로 group by 절 사용-->
<select id="sumPrice" parameterType="string" resultType="integer">
select sum(goods_price * cart_qty + delivery_cost) 
from goods g, cart c 
where g.goods_num = c.goods_num 
and member_num = #{memberNum} 
group by member_num 
</select>

<!-- 체크박스 선택항목들을 한꺼번에 삭제-->
<delete id="goodsNumsDelete" parameterType="hashmap">
delete from cart 
where member_num = #{memberNum} 
and goods_num in 
<foreach collection="goodsNums" item="goodsNum" open="(" close=")" separator="," index="index">
	#{goodsNum}
</foreach>
</delete>

<delete id="goodsNumDelete">
delete from cart 
where goods_num = #{goodsNum} and member_num = #{memberNum}
</delete>

<update id="cartQtyDown">
update cart 
set cart_qty = cart_qty - 1 
where goods_Num = #{goodsNum} and member_num = #{memberNum}
</update>


<select id="goodsSelect" parameterType="string" resultMap="goodsResultMap">
select goods_num, shop_num, goods_name, goods_content, 
	goods_main, goods_main_org, goods_image, goods_image_org, 
	goods_price, delivery_cost 
from goods 
where goods_num = #{goodsNum}
</select>

<resultMap id="cartResultMap" type="cart">
	<id column="member_num" jdbcType="VARCHAR" property="member_num"/>
	<result column="goods_num" jdbcType="VARCHAR" property="goodsNum"/>
	<result column="cart_qty" jdbcType="BIGINT" property="cartQty"/>
</resultMap>

<select id="cartSelect" resultMap="cartResultMap">
select member_num, goods_num, cart_qty 
from cart 
where member_num = #{memberNum}
</select>

<!-- 위 두 개의 select 문을 이용해 데이터 불러오기-->
<resultMap id="cartGoodsResultMap" type="cartGoodsDTO">
	<association property="goodsDTO" javaType="goods" select="goodsSelect" column="goodsNum"/>
	<association property="cartDTO" javaType="cart" select="cartSelect" column="memberNum"/>
</resultMap>



<select id="goodsPriceMulCartQty" resultMap="cartGoodsResultMap">
select goods_num goosNum 
from cart 
where goods_num = #{goodsNum} and member_Num = #{memberNum}
</select>



</mapper>




