<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
<mapper namespace="hkdelivery.mapper.EmployeeMapper">

<select id="empAutoNum" resultType="string">
select concat('mem' , coalesce(max(substr(emp_num,4)::integer),10000)+1) from employee
</select>

<insert id="empRegist" parameterType="emp">
insert into employee (emp_num, emp_id, 
emp_pw, emp_name, emp_addr, 
emp_addr_detail, emp_post, emp_regi_date, 
emp_phone, emp_email, emp_jumin) 
values (#{empNum}, #{empId}, 
#{empPw}, #{empName}, #{empAddr}, 
#{empAddrDetail}, #{empPost}, now(), 
#{empPhone}, #{empEmail}, #{empJumin})
</insert>

<select id="getEmpNum" parameterType="string" resultType="string">
select emp_num empNum 
from employee 
where emp_id = #{empId}
</select>

<select id="empRead" parameterType="string" resultType="emp">
select emp_num empNum, emp_id empId, 
emp_pw empPw, emp_name empName, emp_addr empAddr, 
emp_addr_detail empAddrDetail, emp_post empPost, emp_regi_date empRegiDate, 
emp_phone empPhone, emp_email empEmail, emp_jumin empJumin
from employee 
where emp_num = #{empNum}
</select>


</mapper>
