<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
<mapper namespace="hkdelivery.mapper.GoodsMapper">

<select id="goodsAutoNum" resultType="string">
select 
concat ('good', coalesce(max(substring(goods_num,5)::integer),100000) + 1) 
from goods 
</select>


<!-- 이미지의 경우 선택이므로 없으면 안넣기 위해 if 문을 사용-->
<insert id="goodsInsert" parameterType="goods">
insert into goods 
	(goods_num, shop_num, goods_name, goods_content, 
	goods_main, goods_main_org, goods_image, goods_image_org, 
	goods_price, delivery_cost) 
values 
	(#{goodsNum}, #{shopNum}, #{goodsName}, #{goodsContent}, 
	  #{goodsMain}, #{goodsMainOrg}, 
	 	<if test="goodsImage != null"> #{goodsImage}, #{goodsImageOrg}, </if>
	 	<if test="goodsImage == null"> null, null, </if> 
	#{goodsPrice}, #{deliveryCost})
</insert>


<select id="shopGoodsAllSelect" parameterType="string" resultType="goods">
select 
	goods_num goodsNum, s.shop_num shopNum, goods_name goodsName, goods_content goodsContent, 
	goods_main goodsMain, goods_main_org goodsMainOrg, goods_image goodsImage, 
	goods_image_org goodsImageOrg, goods_price goodsPrice, delivery_cost deliveryCost  
from goods g, shop s 
where s.shop_num = #{shopNum}
</select>

<!-- 배열을 풀어주려면 foreach separator 를 사용한다.-->
<delete id="goodsDelete" parameterType="string">
delete from goods 
where goods_num in <foreach collection="checkBox" item="goodsNum" open="(" close=")" index="index" 
					separator="," >
 						#{goodsNum}
					</foreach>
</delete>

</mapper>
