<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hkdelivery.mapper.LoginMapper">

<select id="selectIdCheck" parameterType="string" resultType="string">
select member_id 
from members 
where member_id = #{memberId} 
union 
select shop_id 
from shop 
where shop_id = #{memberId}
</select>


<select id="loginSelect" parameterType="string" resultType="authInfo">
<!-- 회원과 점포와 직원을 동시에 찾기 위해 union 사용-->
<!-- 회원과 점포와 직원을 구별하기 위해 grade 를 사용-->
select member_id id, member_pw password, 'mem' grade, member_email email 
from members 
where member_id = #{id} 
union
select shop_id, shop_pw, 'shop', 'shop' 
from shop 
where shop_id = #{id} 
union 
select emp_id, emp_pw, 'emp', emp_email 
from employee 
where emp_id = #{id}
</select>

</mapper>



