<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 	
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hkdelivery.mapper.MemberMapper">

<!--parameterType="hkdelivery.domain.MemberDTO" 로 주는 것이 원칙이나, 
application property 에서 마이바티스 앨리어스 설정으로 도메인에 앨리어스를 줬다. -->


<insert id="memberInsert" parameterType="member">
insert into members 
	(member_num, member_id, member_pw, member_name, 
	member_addr, member_addr_detail, member_post, member_regi_date, 
	member_gender, member_phone, member_email, member_birth) 
values 
	(#{memberNum}, #{memberId}, #{memberPw}, #{memberName},
	#{memberAddr}, #{memberAddrDetail}, ${memberPost}, now(),
	#{memberGender}, #{memberPhone}, #{memberEmail}, #{memberBirth})
</insert>

<!-- 놀랍게도 postgresql 에는 nvl 함수가 없다. 따라서 coalesce를 사용한다.-->
<select id="memberAutoNum" resultType="string">
select 
	concat('mem',coalesce(max(substring(member_num,4)::integer),100000) +1) 
from members
</select>

<!-- memberId 로 memberNum 을 찾기-->
<select id="getMemberNum" parameterType="string" resultType="string">
select member_num memberNum 
from members 
where member_id = #{id}
</select>







</mapper>


