<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
$(function(){	//위시리스트 하트모양 클릭
	$("#wish").click(function(){
		//로그인 한 사람만 위시리스트 등록 가능하게.
		if ([[${session.auth == null}]]) {
			 window.open("/login/item.login", "login", "width=315, height=200 top=100, left=100"); //login컨트롤러에서 로그인 팝업 처리
		} else {
			//로그인 한 상태면 관심상품 등록
			$.ajax({
				type : "post",
				url : "/goods/goodsWishAdd", //현주소가 pathVariable 이라면 '../' 를 추가해줘야 하지만 굿즈넘을 쿼리로 받아와서 ㄱㅊ.
				dataType : "text",
				data : {"goodsNum" : "[[${goodsInfo.goodsNum}]]"},
				success : function(result) {
					if (result.trim() == "1") {
						//등록되면 풀 하트
						$("#wish").attr("src", "/static/images/heart_full.png");
					} else if (result.trim() == "0"){
						//취소하면 블랭크 하트
						$("#wish").attr("src", "/static/images/heart_blank.png");
					} else if (result.trim() == "999") {
						alert("위시리스트는 회원만 사용 가능. 업체나 직원 사용불가");
					}
				},
				error : function() {
					alert("ajax 에러!")
				}
			});
		}
	});
	
	$("#qty").click(function(){
		//model로 전달된 goodsInfo에서 goodsPrice 받기, qty와 곱해 총 상품금액 만들기
		const money = [[${goodsInfo.goodsPrice}]] * $("#qty").val();
		//W 000,000,000 형식을 적용할 변수 생성
		const moneyFormatter = new Intl.NumberFormat('ko-KR',{style:'currency',currency:'KRW'});
		//money 를 monetFormatter형식에 적용
		const formattedMoney = moneyFormatter.format(money);
		//총 상품금액에 적용
		$("#totalPrice").text(formattedMoney + '원');
	});
	
	$("#cartBtn").click(function(){
		//장바구니에 담으려면 먼저 로그인이 되어 있어야 함.
		if ([[${session.auth == null}]]) {
			 window.open("/login/item.login", "login", "width=315, height=200 top=100, left=100"); //login컨트롤러에서 로그인 팝업 처리
		} else {
			//ajax 이용해 비동식으로 전달.
			$.ajax({
				type: "get",
				url: "/cart/cartAdd",
				dataType: "text",
				//상품번호와 수량 전달
				data: {"goodsNum" : "[[${goodsInfo.goodsNum}]]", "qty" : $("#qty").val()},
				success : function(result){
					if (result.trim() == "200") {
						//return값이 200이면 정상 저장됨
						if (confirm("확인을 누르시면 장바구니로 이동합니다. 계속 쇼핑하려면 '취소' 를 클릭하세요. ")) {
							//확인 을 누르면 장바구니 페이지로 이동
							location.href="/cart/cartList"
						} else if (result.trim() == "999") {
							//999 리턴이면 grade가 mem이 아닌 사용자임
							alert("장바구니는 회원만 사용 가능합니다 (업체 및 직원 사용불가)");
						} else if (result.trim() == "000") {
							//000 리턴이면 비로그인 상태
							alert("장바구니는 로그인 후 이용 가능합니다");
						}
					}
				},
				error: function(){
					alert ("goodsOrder ajax Error!");
				}
			});
		}
	});
	
}); 

</script>

</head>
<body>


<table align="center" width="800">
	<tr><td rowspan="8">
		<img th:src="|/static/upload/${goodsInfo.goodsMain}|" style="width:400px;height:400px"/>
	</td></tr>
	
	<tr><td>상품명 : [[${goodsInfo.goodsName }]]</td></tr>
	<tr><td>가격 : [[${#numbers.formatCurrency(goodsInfo.goodsPrice) + '원' }]]</td></tr>
	<tr><td>배송비 :  <span th:if="${goodsInfo.deliveryCost == 0}">무료배송</span>
					<span th:if="${goodsInfo.deliveryCost != 0}">[[${#numbers.formatCurrency(goodsInfo.deliveryCost) + '원'}]]</span> </td></tr>
	<tr><td>상품설명 : [[${goodsInfo.goodsContent}]]</td></tr>
	<tr><td>수량 : <input type="number" min="1" value="1" id="qty" name="qty"/> </td></tr>
	<tr><td>총 상품금액 : <span id="totalPrice"></span> </td></tr>
	<tr><td><button type="button" id="cartBtn">장바구니</button> | 
			<button type="button" id="wishBtn">위시리스트</button> |
			<!-- 이미지를 클릭시 위시리스트에 추가. -->
			<!-- 이미지는 main/resource/static/images 밑에 경로를 쓰지만, -->
			<!-- bin에 업로드된 파일은 서버 종료시 전부 날아가므로 반드시 src에다가도 복사해놓아야 다음에도 유지된다. -->
			<!-- wish 가 있으면 관심상품 null 이면 관심상품 아님 -->
			<th:block th:if="${wish == null}">
				<img src="/static/images/heart_blank.png" id="wish" width="20"/>
			</th:block>
			<th:block th:if="${wish != null}">
				<img src="/static/images/heart_full.png" id="wish" width="20"/>
			</th:block>
	<tr>
		<!-- <span th:utext="${#strings.replace(goodsInfo.goodsContent,newLine,'&lt;br /&gt;')}"></span> -->
	</tr>
	<tr><td colspan="2">
		<th:block th:each="goodsImage : ${#strings.arraySplit(goodsInfo.goodsImage,'-') }">
		<img th:src="|/static/upload/${goodsImage}|" style="width:400px;height:400px"/><br />
		</th:block>
	</td></tr>
</table>




	
	
	
	
</body>
</html>