<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table border=1 align="center" width="600">
<caption>상품 상세보기</caption>
	<tr><th>상품명</th><td>[[${goodsInfo.goodsName }]]</td></tr>
	<tr><th>가격</th><td>[[${goodsInfo.goodsPrice }]]</td></tr>
	<tr><th>배송비</th><td>[[${goodsInfo.deliveryCost }]]</td></tr>
	<tr><th>상품설명</th><td>[[${goodsInfo.goodsContent}]]</td>
		<!-- <span th:utext="${#strings.replace(goodsInfo.goodsContent,newLine,'&lt;br /&gt;')}"></span> -->
	</tr>
	<tr><td colspan="2">
		<img th:src="|/static/upload/${goodsInfo.goodsMain}|" style="width:400px;height:400px"/>
	</td></tr>
	<tr><td colspan="2">
		<th:block th:each="goodsImage : ${#strings.arraySplit(goodsInfo.goodsImage,'-') }">
		<img th:src="|/static/upload/${goodsImage}|" style="width:400px;height:400px"/><br />
		</th:block>
	</td></tr>
</table>





</body>
</html>