<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>

<script type="text/javascript">

$(function(){
	//최상단 체크박스 클릭으로 다른 체크박스까지 전부 체크/해제
	$("#checkBoxAll").click(function(){
		if ($("#checkBoxAll").prop("checked")) {
			$("input:checkbox[name=checkBox]").prop("checked", true);
		} else {
			$("input:checkbox[name=checkBox]").prop("checked", false); 
		} 
	});
	
	//체크박스 하나라도 해제되면 최상단 체크박스도 체크 해제
	$("input:checkbox[name=checkBox]").click(function(){
		//먼저 체크박스 전체의 개수를 가지고 옴
		var total = $("input:checkbox[name=checkBox]").length;
		//체크된 체크박스의 개수를 가지고 옴
		var checked = $("input:checkbox[name=checkBox]:checked").length;
		//두 개의 개수가 같으면 checkBoxAll에 체크, 아니면 해지
		if (total == checked) {
			$("#checkBoxAll").prop("checked", true);
		} else {
			$("#checkBoxAll").prop("checked", false);
		}
	});
	//선택삭제 버튼 클릭시 체크박스에 치크된 모든 항목 삭제
	//우선 한 개 이상을 선택해야 하는 조건 부여
	$("#frm").submit(function(){
		if ($("input:checkbox[name=checkBox]:checked").length <1) {
			alert("삭제할 메뉴를 하나 이상 선택하세요.");
			return false;
		}
	});
	
});

</script>
</head>
<body>
goodsList

<!-- checkBox로 각 상품을 선택해서 삭제할 수 있도록 한다. -->
<!-- checkBoxs 클릭시 모든 체크박스가 선택/해제 -->

<table border="1" width="600" align="center">
<form action="goodsDelete" method="post" id="frm">
	<tr>
		<td>번호</td><td>상품명</td><td>상품설명</td>
		<td>상품가격</td><td>배송비</td>
		<td><input type="checkbox" id="checkBoxAll"/>
			<input type="submit" value="선택삭제"/></td>
	</tr>	
	<tr th:each="list, cnt : ${goodsList}">
		<td>[[${cnt.count}]]</td>
		<td> <a th:href="@{goods/goodsInfo(goodsNum=${list.goodsNum})}">[[${list.goodsName}]]</a></td>
		<td>[[${list.goodsContent}]]</td>
		<td>[[${list.goodsPrice}]]</td>
		<td>[[${list.deliveryCost}]]</td>
		<td><input type="checkbox" name="checkBox" th:value="${list.goodsNum}"/></td> 
	</tr>
</form>
</table>
</body>
</html>