<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table border=1 align="center" width="600">
<caption>상품 상세보기</caption>
	<tr><th>상품명</th><td>[[${goodsInfo.goodsName }]]</td></tr>
	<tr><th>상품가격</th><td>[[${goodsInfo.goodsPrice }]]</td></tr>
	<tr><th>배송비</th><td>[[${goodsInfo.deliveryCost }]]</td></tr>
	<tr><th>상품설명</th><td>[[${goodsInfo.goodsContent}]]</td>
		<!-- <span th:utext="${#strings.replace(goodsInfo.goodsContent,newLine,'&lt;br /&gt;')}"></span> -->
	</tr>
	<tr><td colspan="2">
		<img th:src="|/static/upload/${goodsInfo.goodsMain}|" />
	</td></tr>
	<tr><td colspan="2">
		<th:block th:each="goodsImage : ${#strings.arraySplit(goodsInfo.goodsImage,'-') }">
		<img th:src="|/static/upload/${goodsImage}|" /><br />
		</th:block>
	</td></tr>

<!-- 
	<tr><th colspan="2">
		<th:block th:if="${session.auth.grade == 'shop'}">
			<a th:href="@{goodsUpdate(goodsNum=${goodsInfo.goodsNum })}">상품 수정</a> | 
			<a th:href="@{'goodsDelete/'+${goodsInfo.goodsNum }}">상품 삭제</a> | 
			<a href="goodsList">상품목록</a> |
		</th:block> 
		<a href="javascript:history.back();">뒤로가기</a>		
		</th>
	</tr>
-->
</table>





</body>
</html>