<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

구매목록<br/>

<table width="800" align="center">
	<tr><td>주문일(결제번호)</td>
		<td>주문명(이미지) / 승인번호</td>
		
	</tr>
	
	<tr th:each="orderListDTO : ${list}">
		<td>[[${#dates.format(orderListDTO.purchaseDTO.purchaseDate,'yyyy-MM-dd')}]] 
			(
			<!-- 결제시간이 없다 = 아직 결제 안했다 -->
			<th:block th:if="${orderListDTO.paymentDTO.appltime == null}">
				결제 대기중
			</th:block>
			<!-- 결제시간이 있다 = 결제 했다 -->
			<th:block th:if="${orderListDTO.paymentDTO.appltime != null}">
				[[${orderListDTO.paymentDTO.confirmnumber}]]
			</th:block>
			)
		</td>
		<!-- 하나의 결제정보에 여러 상품이 가능하므로 collection으로 담아 왔음 -->
		<td>
			<th:block th:each="dto : ${orderListDTO.purchaseListGoodsDTOs}">
				<img th:src="|/static/upload/${dto.goods.goodsMain}|" width="30"/>
				[[${dto.goods.goodsName}]] 
			</th:block>
			/ [[${orderListDTO.purchaseDTO.purchaseNum}]]</td>
			<td>
				<th:block th:if="${orderListDTO.paymentDTO.appltime != null}">
					<a th:href="|paymentDel?purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}|">결제취소</a>
				</th:block>
				<th:block th:if="${orderListDTO.paymentDTO.appltime == null}">
					<a th:href="|paymentOk?purchaseNum=${orderListDTO.purchaseDTO.purchaseNum}|">결제하기</a>
				</th:block>
			</td>	
	</tr>
	
	
			

</table>

</body>
</html>